//@import "@ahaui/css/dist/index.min.css"; //https://github.com/gotitinc/aha-css
:root {
  //--colorPrimary: #ff43ab;
}
html, body {
  min-height: 100%;
}
body {
  padding: 0;
  margin: 0;
}